*~
\#*\#
vtest
vtest_esp
viterbi_test
viterbi_test_esp
viterbi_ftest
viterbi_ftest_esp
viterbi_fvtest
viterbi_fvtest_esp
libviterbi.a
libviterbi_esp.a
libviterbiCk.a
libviterbiCk_esp.a
libviterbiF.a
libviterbiF_esp.a
libviterbiFV.a
libviterbiFV_esp.a

